body {
  margin: 0;
  overflow-x: hidden;
}

.logo_text {
  color: #24DC9F;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.80);
  font-family: arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 10px 0 10px;
  cursor: default;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial;
  overflow: hidden;
}

.header_list {
  display: flex;
  padding: 0;
  align-items: center;
}

.header_list li {
  cursor: pointer;
}

.header_li {
  opacity: 0.5;
  list-style: none;
  margin: 0 10px 0 10px;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons div {
  margin: 0 10px 0 10px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.login {}

.sign_up {
  background-color: rgb(244, 66, 66);
  color: white;
  border-radius: 5px;
}

.introducing_cont {

  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
}

.header_left {
  width: 50%;
  height: 100%;
  padding-top: 150px;
}

.title {
  color: black;
  font-size: 6.5vh;
  font-weight: 600;
  margin: 0;
  width: 80%;
}

.title span {
  color: #24DC9F;
  font-weight: 600;
}

.header_description {
  opacity: 0.7;
  color: black;
  font-size: 3vh;
  margin: 20px 0 0 0;
  width: 80%;
}

.email_box {
  height: 50px;
  margin: 30px 0 0 0;
  width: 70%;
  box-shadow: -5px 5px 45px rgba(2, 18, 6, 0.15);
  display: flex;
  align-items: center;
}

.email_box input {
  width: 80%;
  border: none;
  padding: 10px;
}

.submit {
  cursor: pointer;
  width: 20%;
  height: calc(100% - 10px);
  margin: 5px;
  background-color: rgb(244, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.submit_text {
  color: white;
  margin: 0;
}

.playStore_appStore_img_container {
  width: 100%;
  display: flex;
  height: 9%;
  margin-top: 30px;
}

.appStore {
  scale: 0.83;
  height: 100%;
  width: 25%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/apple_store.png);
}

.gPlay {
  scale: 0.83;
  height: 100%;
  width: 25%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/gPlay.png);
}

.header_right {
  background-image: url(./images/laptopWithPhone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.connector1 {
  height: 20vh;
  width: 100vw;
  display: flex;
  background: #c8f5e8;
}

.connector1_item {
  height: 100%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  scale: 0.5;

}

.connector1 :nth-child(1) {
  background-image: url(./images/google.png);
}

.connector1 :nth-child(2) {
  background-image: url(./images/avast.png);
}

.connector1 :nth-child(3) {
  background-image: url(./images/ebay.png);
}

.connector1 :nth-child(4) {
  background-image: url(./images/paypal.png);
}

.section1 {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.section1_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.section1_left_container {
  width: 42vw;
  height: 42vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.section1_left_item {
  border-radius: 10px;
  border: 1px solid rgba(2, 18, 6, 0.10);
  height: 45%;
  width: 45%;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1_left_item:hover {
  box-shadow: 0px 15px 65px 0px rgba(65, 77, 68, 0.15);
}

.section1_left_img_cont {
  height: 70px;
  width: 70px;
  background-color: #F14C4C;
  border-radius: 10px;
  box-shadow: 1px 5px 30px 0px rgba(215, 21, 21, 0.50);
}

.section1_left_img {
  background-image: url(./images/settings\ 1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.section1_left_img_cont2 {

  height: 70px;
  width: 70px;
  background-color: #4EDAAC;
  border-radius: 10px;
  box-shadow: 1px 5px 30px 0px rgba(83, 215, 171, 0.50);
}

.section1_left_img2 {
  background-image: url(./images/user\ 1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.section1_left_img_cont3 {
  height: 70px;
  width: 70px;
  background-color: #FABC13;
  border-radius: 10px;
  box-shadow: 1px 5px 30px 0px rgba(238, 185, 42, 0.60);
}

.section1_left_img3 {
  background-image: url(./images/shield\ 1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.section1_left_img_cont4 {

  height: 70px;
  width: 70px;
  background-color: #EC4EDC;
  border-radius: 10px;
  box-shadow: 1px 5px 30px 0px rgba(230, 68, 214, 0.50);
}

.section1_left_img4 {
  background-image: url(./images/coding\ 1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.section1_ledt_title {
  margin: 40px 0 0 0;
  color: #021206;
  font-size: 140%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section1_left_text {
  color: #021206;
  font-size: 105%;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  line-height: 118%;
  opacity: 0.7;
}

.section1_innerItem {
  display: inline;
  width: 80%;
}

.section1_right_title {
  color: #021206;
  font-size: 280.25%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section1_right_cont {
  width: 70%;
  padding-left: 50px;
}

.section1_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section1_right_text {
  opacity: 0.75;
  color: #000000;
  font-size: 105%;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.section1_right_btncont {
  display: flex;
}

.section1_right_btncont p {
  display: flex;
  cursor: pointer;
}

.section1_right_btncont :nth-child(1) {
  padding: 15px 40px 15px 40px;
  background: black;
  color: white;
  border-radius: 6px;
  font-size: 110%;
  font-style: normal;
  font-weight: 500;
}

.section1_right_btncont :nth-child(2) {
  padding: 15px 40px 15px 40px;
  color: red;
  border-radius: 6px;
  font-size: 110%;
  font-style: normal;
  font-weight: 500;
}

.section2 {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  margin: auto;
}

.section2_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section2_left_title {
  margin: 0;
  color: #021206;
  font-size: 281.25%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section2_left_text {
  color: #021206;
  font-size: 110%;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 28.8px */
  opacity: 0.7;
}

.section2_left_listItem {
  display: flex;
  align-items: center;
}

.section2_left_listItem_ico {
  margin-right: 10px;
  height: 2.5vh;
  width: 2.5vh;
  background-size: cover;
  background-image: url(./images/greenG.svg);
}

.section2_left_listItem p {
  color: #021206;
  font-size: 110%;
  font-style: normal;
  font-weight: 400;
  line-height: 220%;
  opacity: 0.7;
  margin: 0;
}

.section2_right {
  width: 50%;
  height: 100%;
  background-image: url(./images/section2_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section3 {
  height: 100vh;
  width: 90vw;
  margin: auto;
  display: flex;
}

.section3>div {
  width: 50%;
  height: 100%;
}

.section3_right {
  display: flex;
  align-items: center;
}

.section3_right_container {
  width: 70%;
  padding-left: 50px;
}

.section3_right_title {
  color: #021206;
  font-size: 281.25%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.section3_right_text {
  color: #021206;
  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.7;
}

.section3_right_text>span {
  opacity: 1;
  color: #021206;
  font-size: 120%;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.section3_left {
  background-image: url(./images/section3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.connector2 {
  height: 60vh;
  width: 100vw;
  background: #e7f4ef;
  display: flex;
  align-items: center;
}

.connector2_right {
  width: 50%;
  height: 150%;
  background-image: url(./images/connector2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  scale: 1.17;
}

.connector2_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.connector2_left_cont {
  width: 70%;
}

.connector2_left_title {
  color: #021206;
  font-size: 280.25%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.connector2_left_text {
  color: #021206;

  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.connector2_btn {
  display: inline-flex;
  padding: 15px 33px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: #F44545;
  color: white;
}

.connector2_cont {
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.section4 {
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.section4_title {
  width: 100%;
  color: #021206;
  text-align: center;
  font-size: 280.25%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.section4_text {
  width: 55%;
  color: #021206;
  text-align: center;
  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #43DDAA;
}

input:focus+.slider {
  box-shadow: 0 0 1px #43DDAA;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.section4_trigger_cont {
  display: flex;
  align-items: center;
}

.section4_trigger_cont p {
  padding: 20px;
}

.section4_slider {
  width: 70%;
  height: 15px;
  opacity: 0.7;
  transition-duration: 0.7s;
  appearance: none;
  background: linear-gradient(154deg, #85FED6 4.45%, #4EDAAC 83.73%);
  border-radius: 10px;
  box-shadow: 1px 5px 30px 0px rgba(83, 215, 171, 0.50);
}

.section4_slider:hover {
  opacity: 1;
}

.section4_slider::-webkit-slider-thumb {
  appearance: none;
  background: linear-gradient(154deg, #85FED6 4.45%, #4EDAAC 83.73%);
  ;
  border: 3px solid white;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.50);
}

.section4_card_cont {
  display: flex;
  width: 80vw;
  height: 60%;
  justify-content: space-evenly;
}

.section4_card {
  height: 90%;
  width: 23%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}

.section4_card_item_ico {
  margin-right: 10px;
  height: 2.5vh;
  width: 2.5vh;
  background-size: cover;
  background-image: url(./images/greenG.svg);
}

.section4_card_title {
  color: #021206;
  text-align: center;
  font-size: 130%;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  opacity: 0.5;
}
.section4_card_price{
  color: #021206;
text-align: center;
font-size: 305%;
font-style: normal;
font-weight: 600;
}
.section4_card_item{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section4_card_item>div{
  display: flex;
  align-items: center;
}